<div class="main-title-container">
  <p>單號 / LIC202112000470</p>
  <div class="btn-container">
    <button pButton type="button" label="審核" class="btn-dark-red" (click)="displaySubmitDetail = true;"></button>
  </div>
</div>
<!-- end: main-title-container -->

<div class="form-table form-list">
  <div class="form-row grid">
    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">申請人</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">115192(蔡佩穎/Vicky Tsai)</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->

    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">申請部門</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">台商Ｂ三部PP/IPC</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">申請日期</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">2021/11/28</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->
</div>

<p-tabView>
  <p-tabPanel header="申請資訊">
    <div class="sub-title-container">
      <p>DPL FAIL</p>
    </div>
    <!-- end: sub-title-container -->

    <form class="form-table">
      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Customer Number</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Customer Name</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Customer English Name</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Country</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Address</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">RESULTS_STATUS</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">RESULTS_URL</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-label">
                <!-- add class `error-active` in `form-input` when input error  -->
                <a href="https://i.imgur.com/76qDJ0l.jpg" class="txt">https://i.imgur.com/76qDJ0l.jpg</a>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->

      <div class="form-row grid">
        <div class="form-col md:col-12 sm:col-12 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Address_ID</label>
              </div>
              <!-- end: form-label -->
            </div>
            <!-- end: form-col -->

            <div class="form-col col">
              <div class="form-input require">
                <!-- add class `error-active` in `form-input` when input error  -->
                <input type="text" pInputText value="" placeholder="請輸入"/>
                <p class="error-msg">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>錯誤訊息</span>
                </p>
              </div>
              <!-- end: form-input -->
            </div>
            <!-- end: form-col -->
          </div>
          <!-- end: form-row -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </form>

    <p-table #dt class="table-panel" [value]="data" [columns]="selectedCols"
      [scrollable]="true" scrollHeight="500px"
      [paginator]="true" [rows]="10"
      paginatorPosition="bottom" [rowsPerPageOptions]="[10,20,{showAll:'All'}]"
      dataKey="id">
      <ng-template pTemplate="caption">
        <div class="table-action-block">
          <div class="table-search ui-inputgroup">
            <input type="text" pInputText size="30" placeholder="Search" />
            <span class="ui-inputgroup-addon">
              <i class="pi pi-search"></i>
            </span>
          </div>

          <div class="btn-container right">
            <button pButton type="button" icon="pi pi-sliders-h" label="篩選" class="btn-line" (click)="showFilter()"></button>
          </div>
        </div>
        <!-- end: table-action-block -->
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of selectedCols" [pSortableColumn]="col.field"
            [ngClass]="{
              'icon-col': (col.field == 'checkbox')
            }"
            scope="col"
          >
            <ng-container *ngIf="col.field == 'checkbox'">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </ng-container>
            <ng-container  *ngIf="col.field != 'checkbox'">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </ng-container>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td *ngFor="let col of selectedCols"
            [ngClass]="{
              'icon-col': (col.field == 'checkbox')
            }"
          >
            <ng-container *ngIf="col.field == 'checkbox'">
              <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </ng-container>
            <ng-container  *ngIf="col.field != 'checkbox'">
              <p>{{data[col.field]}}</p>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>

  <p-tabPanel header="簽核歷程">
    <form class="form-table">
      <p-table #ht class="table-panel upload" [value]="historyData" [columns]="historyCols"
        [scrollable]="true" scrollHeight="500px"
        dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of historyCols" [pSortableColumn]="col.field" scope="col">
              <ng-container>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </ng-container>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td *ngFor="let col of historyCols">
              <ng-container *ngIf="col.field === 'username'">
                <div class="user-info">
                  <div class="img-block">
                    <img [src]="data['userImg']" alt="">
                  </div>
                  <p>{{data[col.field]}}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="col.field !== 'username'">
                <p>{{data[col.field]}}</p>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </p-tabPanel>

  <p-tabPanel header="附件連結">
    <div class="sub-title-container">
      <p>附加檔案</p>
    </div>
    <!-- end: sub-title-container -->

    <form class="form-table">
      <p-table #ft class="table-panel upload" [value]="fileData" [columns]="fileCols"
        [scrollable]="true" scrollHeight="500px"
        dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of fileCols" [pSortableColumn]="col.field" scope="col">
              <ng-container>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </ng-container>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td *ngFor="let col of fileCols">
              <ng-container *ngIf="col.field === 'username'">
                <div class="user-info">
                  <div class="img-block">
                    <img [src]="data['userImg']" alt="">
                  </div>
                  <p>{{data[col.field]}}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="col.field !== 'username'">
                <p>{{data[col.field]}}</p>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>

    <div class="sub-title-container">
      <p>附加連結</p>
    </div>
    <!-- end: sub-title-container -->

    <form class="form-table">
      <p-table #lt class="table-panel upload" [value]="linkData" [columns]="linkCols"
        [scrollable]="true" scrollHeight="500px"
        dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of linkCols" [pSortableColumn]="col.field" scope="col">
              <ng-container>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </ng-container>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td *ngFor="let col of linkCols">
              <ng-container *ngIf="col.field === 'username'">
                <div class="user-info">
                  <div class="img-block">
                    <img [src]="data['userImg']" alt="">
                  </div>
                  <p>{{data[col.field]}}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="col.field !== 'username'">
                <p>{{data[col.field]}}</p>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </p-tabPanel>
</p-tabView>

<p-dialog header="欄位篩選" [(visible)]="displayFilterDetail"
  [draggable]="false" [blockScroll]="true"  [modal]="true">
  <form>
    <div class="form-row grid">
      <div class="form-col md:col-4 sm:col-12 col-12" *ngFor="let col of cols">
        <div class="form-checkbox">
          <p-checkbox name="checkboxGroup" [label]="col.header" [value]="col"
            [(ngModel)]="selectedCols" [disabled]="col?.isDisabled"></p-checkbox>
        </div>
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="btn-container">
      <button pButton type="button" label="{{ 'Button.Label.Reset' | translate }}" class="btn-gray btn-line" (click)="changeFilterDetail()"></button>
    </div>
  </form>
</p-dialog>

<p-dialog header="審核" [(visible)]="displaySubmitDetail"
  [draggable]="false" [blockScroll]="true"  [modal]="true">
  <form class="form-table">
    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">檔案上傳</label>
        </div>
        <!-- end: form-label -->
      </div>
      <!-- end: form-col -->

      <div class="form-col col">
        <p-fileUpload class="form-file-upload" name="fileUpload[]" multiple="multiple"
          maxFileSize="1000000" [chooseIcon]="''" [chooseLabel]="'Choose File'" [showCancelButton]="false"
          [uploadIcon]="''">
        </p-fileUpload>
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">附加連結</label>
        </div>
        <!-- end: form-label -->
      </div>
      <!-- end: form-col -->
      <div class="form-col col">
        <div class="form-item grid">
          <div class="form-input require p-inputgroup">
            <!-- add class `error-active` in `form-input` when input error  -->
            <input type="text" pInputText value="" placeholder="請輸入" name="link" [(ngModel)]="linkVal"/>
            <button type="button" pButton icon="pi pi-plus" (click)="addLink(linkItem)"></button>
            <p class="error-msg">
              <i class="pi pi-exclamation-circle"></i>
              <span>錯誤訊息</span>
            </p>
          </div>
          <!-- end: form-input -->

          <div class="form-insert-input-list">
            <div class="form-label" *ngFor="let item of linkItem; let i = index;">
              <label class="txt">{{ item }}</label>
              <button type="button" pButton icon="pi pi-minus" class="btn-dark-red" (click)="delLink(linkItem, i)"></button>
            </div>
            <!-- end: form-label -->
          </div>
          <!-- end: form-insert-input-list -->
        </div>
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">意見</label>
        </div>
        <!-- end: form-label -->
      </div>
      <!-- end: form-col -->

      <div class="form-col col">
        <div class="form-textarea">
          <!-- add class `error-active` in `form-textarea` when textarea error  -->
          <textarea pInputTextarea placeholder="請輸入"></textarea>
          <p class="error-msg">
            <i class="pi pi-exclamation-circle"></i>
            <span>錯誤訊息</span>
          </p>
        </div>
        <!-- end: form-textarea -->
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">審核結果</label>
        </div>
        <!-- end: form-label -->
      </div>
      <!-- end: form-col -->

      <div class="form-col col">
        <div class="form-radio">
          <p-radioButton name="radioGroup3" label="Approve" value="Approve" [(ngModel)]="selectedRadio3"></p-radioButton>
          <p-radioButton name="radioGroup3" label="Reject" value="Reject" [(ngModel)]="selectedRadio3"></p-radioButton>
          <p-radioButton name="radioGroup3" label="加簽後傳回" value="加簽後傳回" [(ngModel)]="selectedRadio3"></p-radioButton>
          <p-radioButton name="radioGroup3" label="加簽至下一關" value="加簽至下一關" [(ngModel)]="selectedRadio3"></p-radioButton>
          <p-radioButton name="radioGroup3" label="退回" value="退回" [(ngModel)]="selectedRadio3"></p-radioButton>
        </div>
        <!-- end: form-radio -->
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">加簽人員</label>
        </div>
        <!-- end: form-label -->
      </div>
      <!-- end: form-col -->

      <div class="form-col col">
        <div class="form-chip">
          <p-chips name="chip" [(ngModel)]="chipVals"></p-chips>
        </div>
        <!-- end: form-radio -->
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">處理人員</label>
        </div>
        <!-- end: form-label -->
      </div>
      <!-- end: form-col -->

      <div class="form-col col">
        <div class="form-select">
          <!-- add class `error-active` in `form-select` when input error  -->
          <p-dropdown [options]="options" [filter]="true"></p-dropdown>
          <p class="error-msg">
            <i class="pi pi-exclamation-circle"></i>
            <span>錯誤訊息</span>
          </p>
        </div>
        <!-- end: form-select -->
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="btn-container">
      <button pButton type="button" label="取消" class="btn-gray" (click)="displaySubmitDetail = false;"></button>
      <button pButton type="button" label="送出" (click)="displaySubmitDetail = false;"></button>
    </div>
  </form>
</p-dialog>
