/* Color Set */
$primary: #006deb;
$dark-blue: #193762;
$dark-blue-02: #2456d7;

$light-blue: #06b0d6;
$line-blue: #f0f7fb;

$secondary: #b48572;
$secondary-dark: #795548;

$bg: #f5f5f5;
$bg-blue: #f1f6f9;

$gray-01: #6f6d6d; // text
$gray-02: #87949d; // btn
$gray-03: #b6b6b6; // checkbox, radio, table icon
$gray-04: #cfd0d0; // divider line
$gray-05: #e5e5e5; // placeholder
$gray-06: #f8f9fb; // table focus

$line: #f2f2f2;

$black: #000000;
$white: #ffffff;

$warring: #e18146;
$success: #34b76b;
$error: #ca0f47;

/* Margin */
$space-base: 10px;
$space-1: $space-base * 1;
$space-2: $space-base * 2;
$space-3: $space-base * 3;
$space-4: $space-base * 4;
$space-5: $space-base * 5;

/* Other */
$header-h: 80px;
$menu-w: 200px;
$menu-close-w: 85px;

$footer-btn-h: 80px;
