<div class="main-title-container">
  <p>單號 / LIC202112000470</p>
</div>
<!-- end: main-title-container -->

<div class="form-table form-list">
  <div class="form-row grid">
    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">申請人</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">115192(蔡佩穎/Vicky Tsai)</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->

    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">申請部門</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">台商Ｂ三部PP/IPC</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">申請日期</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">2021/11/28</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->

    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">I/E TYPE</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">Export</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->
</div>

<form class="form-table">
  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">正本歸檔區域</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">America</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">Customer/Vendor</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">Customer</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
        <!-- end: form-col -->

    <div class="form-col md:col-6 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label require">
            <label class="txt">客戶/廠商</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">1410 中強光電股份有限公司/ Coretronic Corporation</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">有效日期</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt">2021/12/05~2021/12/17</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">備註</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-label">
            <label class="txt"></label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">Excel匯入</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
            <p-table #dt class="table-panel upload" [value]="data" [columns]="cols"
            [scrollable]="true" scrollHeight="500px"
            dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field" scope="col">
                  <ng-container>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </ng-container>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of cols">
                  <ng-container *ngIf="col.field === 'filename'">
                    <a [href]="data[col.field]">{{data[col.field]}}</a>
                  </ng-container>
                  <ng-container *ngIf="col.field === 'username'">
                    <div class="user-info">
                      <div class="img-block">
                        <img [src]="data['userImg']" alt="">
                      </div>
                      <p>{{data[col.field]}}</p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.field === 'date'">
                    <p>{{data[col.field]}}</p>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
  </div>
  <!-- end: form-row -->
</form>

<div class="main-title-container">
  <p>Import OU</p>
</div>
<!-- end: main-title-container -->

<form class="form-table">
  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">正本</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-radio">
            <p-radioButton name="radioGroup" label="Yes" value="Yes" [(ngModel)]="selectedRadio" [disabled]="true"></p-radioButton>
            <p-radioButton name="radioGroup" label="No" value="No" [(ngModel)]="selectedRadio" [disabled]="true"></p-radioButton>
          </div>
          <!-- end: form-radio -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt"></label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-radio">
            <p-radioButton name="radioGroup2" label="Group OU" value="Group OU" [(ngModel)]="selectedRadio2" [disabled]="true"></p-radioButton>
            <p-radioButton name="radioGroup2" label="OU" value="OU" [(ngModel)]="selectedRadio2" [disabled]="true"></p-radioButton>
            <p-radioButton name="radioGroup2" label="ALL Group" value="ALL Group" [(ngModel)]="selectedRadio2" [disabled]="true"></p-radioButton>
          </div>
          <!-- end: form-radio -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt"></label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-checkbox">
            <p-checkbox name="checkboxGroup" label="WPIG" value="WPIG" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPGA" value="WPGA" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPGASA" value="WPGASA" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="YOSUNG" value="YOSUNG" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPG-CLOUD" value="WPG-CLOUD" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="TG" value="TG" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPIG-OTHER" value="WPIG-OTHER" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPIG-OTHER2" value="WPIG-OTHER2" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPG EMEA" value="WPG EMEA" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="SACG" value="SACG" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPG-KR" value="WPG-KR" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
            <p-checkbox name="checkboxGroup" label="WPGH" value="WPGH" [(ngModel)]="selectedChk" [disabled]="true"></p-checkbox>
          </div>
          <!-- end: form-checkbox -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->
</form>

<div class="main-title-container">
  <p>簽核歷程</p>
</div>
<!-- end: main-title-container -->

<form class="form-table">
  <p-table #dt class="table-panel upload" [value]="historyData" [columns]="historyCols"
    [scrollable]="true" scrollHeight="500px"
    dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of historyCols" [pSortableColumn]="col.field" scope="col">
          <ng-container>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </ng-container>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td *ngFor="let col of historyCols">
          <ng-container *ngIf="col.field === 'username'">
            <div class="user-info">
              <div class="img-block">
                <img [src]="data['userImg']" alt="">
              </div>
              <p>{{data[col.field]}}</p>
            </div>
          </ng-container>
          <ng-container *ngIf="col.field !== 'username'">
            <p>{{data[col.field]}}</p>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</form>

<div class="main-title-container">
  <p>審核</p>
</div>
<!-- end: main-title-container -->

<form class="form-table">
  <div class="form-row grid">
    <div class="form-col col-fixed">
      <div class="form-label">
        <label class="txt">檔案上傳</label>
      </div>
      <!-- end: form-label -->
    </div>
    <!-- end: form-col -->

    <div class="form-col col">
      <p-fileUpload class="form-file-upload" name="fileUpload[]" multiple="multiple"
        maxFileSize="1000000" [chooseIcon]="''" [chooseLabel]="'Choose File'" [showCancelButton]="false"
        [uploadIcon]="''">
      </p-fileUpload>
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col col-fixed">
      <div class="form-label">
        <label class="txt">意見</label>
      </div>
      <!-- end: form-label -->
    </div>
    <!-- end: form-col -->

    <div class="form-col col">
      <div class="form-textarea">
        <!-- add class `error-active` in `form-textarea` when textarea error  -->
        <textarea pInputTextarea placeholder="請輸入"></textarea>
        <p class="error-msg">
          <i class="pi pi-exclamation-circle"></i>
          <span>錯誤訊息</span>
        </p>
      </div>
      <!-- end: form-textarea -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col col-fixed">
      <div class="form-label">
        <label class="txt">審核結果</label>
      </div>
      <!-- end: form-label -->
    </div>
    <!-- end: form-col -->

    <div class="form-col col">
      <div class="form-radio">
        <p-radioButton name="radioGroup3" label="Approve" value="Approve" [(ngModel)]="selectedRadio3"></p-radioButton>
        <p-radioButton name="radioGroup3" label="Reject" value="Reject" [(ngModel)]="selectedRadio3"></p-radioButton>
        <p-radioButton name="radioGroup3" label="加簽後傳回" value="加簽後傳回" [(ngModel)]="selectedRadio3"></p-radioButton>
        <p-radioButton name="radioGroup3" label="加簽至下一關" value="加簽至下一關" [(ngModel)]="selectedRadio3"></p-radioButton>
        <p-radioButton name="radioGroup3" label="退回" value="退回" [(ngModel)]="selectedRadio3"></p-radioButton>
      </div>
      <!-- end: form-radio -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col col-fixed">
      <div class="form-label">
        <label class="txt">加簽人員</label>
      </div>
      <!-- end: form-label -->
    </div>
    <!-- end: form-col -->

    <div class="form-col col">
      <div class="form-chip">
        <p-chips name="chip" [(ngModel)]="chipVals"></p-chips>
      </div>
      <!-- end: form-radio -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="form-row grid">
    <div class="form-col col-fixed">
      <div class="form-label">
        <label class="txt">處理人員</label>
      </div>
      <!-- end: form-label -->
    </div>
    <!-- end: form-col -->

    <div class="form-col col">
      <div class="form-select">
        <!-- add class `error-active` in `form-select` when input error  -->
        <p-dropdown [options]="options" [filter]="true"></p-dropdown>
        <p class="error-msg">
          <i class="pi pi-exclamation-circle"></i>
          <span>錯誤訊息</span>
        </p>
      </div>
      <!-- end: form-select -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->
</form>

<div class="btn-container">
  <button pButton type="button" label="Cancel" class="btn-gray"></button>
  <button pButton type="button" label="Submit"></button>
</div>
