<div class="gray-line"></div>

<form class="form-container form-table" [formGroup]="formGroup">
    <div class="form-row grid">
        <!--# 是否扣量-->
        <div class="form-col col-12">
            <div class="form-row grid">
                <!-- 扣量 -->
                <div class="form-col col-fixed">
                    <div class="form-label">
                        <label class="txt">{{'SOA.Button.deduct' | translate}}</label>
                    </div>
                </div>
                <div class="md:col col-12" style="display: flex; align-items: center; width: 100%;">
                    <div class="form-col" style=" width: 100%;">
                        <div class="form-select">
                            <p-dropdown [options]="deductionOptions" formControlName="deduction"
                                (ngModelChange)="deductChange()">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <!-- QTY -->
                <ng-container *ngIf="formGroup.get('deduction').value === 'Y'">
                    <div class="form-col col-fixed">
                        <div class="form-label">
                            <label class="txt">Qty</label>
                        </div>
                    </div>
                    <div class="md:col col-12" style="display: flex; align-items: center; width: 100%;">
                        <div class="form-col" style=" width: 100%;">
                            <div class="form-input">
                                <p-inputNumber placeholder="{{'SOA.Msg.PleaseKeyInQty' | translate}}"
                                    formControlName="qty" [min]="0" [max]="999999999"
                                    placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}" mode="decimal">
                                </p-inputNumber>
                                <p class="error-active" *ngIf="qtyWarning">
                                    <i class="pi pi-exclamation-circle"></i>
                                    <span>{{ 'ImpExpLicenseMtn.Message.QtyMustBeGE' | translate }}0</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="btn-container">
                    <button pButton type="button" label="{{ 'Button.Label.Cancel' | translate }}" class="btn-gray"
                        (click)="cancelOnClick()"></button>
                    <button pButton type="button" class="btn-teal" label="{{ 'Button.Label.Save' | translate }}"
                        (click)="saveOnClick()"></button>
                </div>

            </div>
        </div>
    </div>
</form>