<form [formGroup]="formGroup" class="form-container form-table">
  <div class="form-row grid">
    <div class="form-col lg:col-8 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label require">
            <label class="txt">Period Form/To</label>
          </div>
        </div>
        <div class="md:col col-12">
          <div class="form-col">
            <div class="form-input form-date-range-select">
              <div>
                <p-calendar [selectOtherMonths]="true" [showButtonBar]="true"
                  formControlName="startDate"
                  appendTo="body"
                  dateFormat="yy/mm/dd"
                  [showIcon]="true"
                  inputId="startDate"
                  placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
                  (onInput)="onDatePickerInput($event)"
                  (onSelect)="onDatePickerSelectAndBlur();onCheckDateHandler()"
                  (onBlur)="onDatePickerSelectAndBlur()"
                  (onClose)="onDatePickerClose('startDate');onCheckDateHandler()"
                ></p-calendar>
              </div>
              <div>
                <span>~</span>
              </div>
              <div>
                <p-calendar [selectOtherMonths]="true" [showButtonBar]="true"
                  formControlName="endDate"
                  appendTo="body"
                  dateFormat="yy/mm/dd"
                  [minDate]="formGroup.get('startDate').value"
                  [showIcon]="true"
                  inputId="endDate"
                  placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
                  (onInput)="onDatePickerInput($event)"
                  (onSelect)="onDatePickerSelectAndBlur();onCheckDateHandler()"
                  (onBlur)="onDatePickerSelectAndBlur()"
                  (onClose)="onDatePickerClose('endDate');onCheckDateHandler()"
                ></p-calendar>
              </div>
            </div>
            <div class="form-hint">
              <span>e.g. 2022/01/01 ( YYYY/MM/DD )</span>
            </div>
          </div>
        </div>
      </div>
      <!--# Qty-->
      <div class="form-row grid">
        <div class="form-col col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label require">
                <label class="txt">Qty</label>
              </div>
            </div>
            <div class="md:col col-12">
              <div class="form-col">
                <div class="form-input">
                  <input
                    autocomplete="off"
                    type="number"
                    pInputText
                    name="quantity"
                    formControlName="quantity"
                    placeholder="{{
                      'Input.PlaceHolder.OnlyPosIntAndBig0' | translate
                    }}"
                    onwheel="this.blur()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-col lg:col-4 col-12">
      <div class="btn-container">
        <button
          pButton
          type="button"
          label="{{ 'Button.Label.Cancel' | translate }}"
          class="btn-gray"
          (click)="onFormCancelEvent()"
        ></button>
        <button
          pButton
          type="button"
          class="btn-teal"
          label="{{ 'Button.Label.Save' | translate }}"
          [disabled]="isLockSubmit"
          (click)="onFormSubmitEvent()"
        ></button>
      </div>
    </div>
  </div>
</form>
