<div class="main-title-container">
  <p>{{ "EucLicenseMtn.PageTitle" | translate }}</p>
</div>

<p-dialog
  class="width-sm"
  [(visible)]="displayDelDialog"
  [draggable]="false"
  [blockScroll]="true"
  [modal]="true"
>
  <div class="popup-content center">
    <h2>{{ "ImpExpLicenseMtn.Label.ConfirmDelete" | translate }}</h2>
  </div>

  <div class="btn-container ">
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Cancel' | translate }}"
      class="btn-gray btn-line"
      (click)="displayDelDialog = false; delSeq = null"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Delete' | translate }}"
      class="btn-dark-red"
      (click)="delDetail()"
    ></button>
  </div>
</p-dialog>

<form class="form-table form-search">
  <!-- licenseNo, orderGroup, flag -->
  <div class="form-row grid">
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.LicenseNo" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-input">
            <input
              type="text"
              pInputText
              name="licenseNo"
              [(ngModel)]="queryReq.licenseNo"
              placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "SoaLicenseMtn.Label.OuGroup" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-select">
            <p-dropdown
              name="flag"
              [(ngModel)]="queryReq.ouGroup"
              [options]="groupOptions"
              placeholder="{{
                'DropDown.PlaceHolder.PleaseChoose' | translate
              }}"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.Flag" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-select">
            <p-dropdown
              name="flag"
              [(ngModel)]="queryReq.flag"
              [options]="flagOptions"
              placeholder="{{
                'DropDown.PlaceHolder.PleaseChoose' | translate
              }}"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 客戶/廠商區 2 cols-->
  <div class="form-row grid">
    <div class="form-col md:col-12 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.CustomerVendorType" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col-2">
          <div class="form-select">
            <p-dropdown
              name="customerVendorType"
              [(ngModel)]="queryReq.customerVendorType"
              [options]="customerVendorTypeOptions"
              placeholder="{{
                'DropDown.PlaceHolder.PleaseChoose' | translate
              }}"
              (onChange)="onChangeVCType($event)"
            ></p-dropdown>
          </div>
        </div>
        <div class="form-col col pl-2">
          <div class="form-input">
            <span class="p-input-icon-right" style="width: 100%">
              <ng-container *ngIf="curCVLable != ''">
                <i
                  class="pi pi-times input-icon"
                  (click)="onSelectorClean('customer')"
                ></i>
              </ng-container>
              <input
                type="text"
                pInputText
                name="curstorId"
                readonly
                placeholder="{{
                  'DropDown.PlaceHolder.PleaseChoose' | translate
                }}"
                [value]="curCVLable"
                (click)="onOpenSelectorDialogEvent('customer')"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ItemNo 2 cols, eccn -->
  <div class="form-row grid">
    <div class="form-col md:col-8 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.Item" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col-3">
          <div class="form-select">
            <p-dropdown
              name="itemFilterType"
              [(ngModel)]="queryReq.itemFilterType"
              [options]="itemFilterTypeOptions"
              placeholder="{{
                'DropDown.PlaceHolder.PleaseChoose' | translate
              }}"
              (onChange)="onChangeItemFilterType('')"
            ></p-dropdown>
          </div>
        </div>
        <div class="form-col col pl-2">
          <div class="form-input" *ngIf="queryReq.itemFilterType !== 'Multi'">
            <input
              type="text"
              pInputText
              name="item"
              [(ngModel)]="queryReq.item"
              placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-chip" *ngIf="queryReq.itemFilterType === 'Multi'">
            <p-chips
              name="items"
              [(ngModel)]="queryReq.items"
              placeholder="{{
                'ImpExpLicenseMtn.PlaceHolder.Items' | translate
              }}"
            >
            </p-chips>
          </div>
        </div>
      </div>
    </div>
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.ECCN" | translate
            }}</label>
          </div>
        </div>

        <div class="form-col col">
          <div class="form-input">
            <input
              type="text"
              pInputText
              name="eccn"
              [(ngModel)]="queryReq.eccn"
              placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ccats, startDate, endDate-->
  <div class="form-row grid">
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.CCATS" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-input">
            <input
              type="text"
              pInputText
              name="ccats"
              [(ngModel)]="queryReq.ccats"
              placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.StartDate" | translate
            }}</label>
          </div>
        </div>

        <div class="form-col col">
          <div class="form-date">
            <p-calendar [selectOtherMonths]="true" [showButtonBar]="true"
              [showIcon]="true"
              appendTo="body"
              name="startDate"
              [(ngModel)]="queryReq.startDate"
              dateFormat="yy/mm/dd"
              (onInput)="onDatePickerInput($event)"
              (onSelect)="onDatePickerSelectAndBlur();onCheckDateHandler()"
              (onBlur)="onDatePickerSelectAndBlur()"
              (onClose)="onDatePickerClose('startDate');onCheckDateHandler()"
              placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
              >
            </p-calendar>
          </div>
        </div>
      </div>
    </div>
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "ImpExpLicenseMtn.Label.EndDate" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-date">
            <p-calendar [selectOtherMonths]="true" [showButtonBar]="true"
              [showIcon]="true"
              appendTo="body"
              name="endDate"
              [(ngModel)]="queryReq.endDate"
              [minDate]="queryReq.startDate"
              dateFormat="yy/mm/dd"
              (onInput)="onDatePickerInput($event)"
              (onSelect)="onDatePickerSelectAndBlur();onCheckDateHandler()"
              (onBlur)="onDatePickerSelectAndBlur()"
              (onClose)="onDatePickerClose('endDate');onCheckDateHandler()"
              placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
            >
            </p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row grid"> 
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">Trx Number</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-input">
            <span class="p-input-icon-right" style="width: 100%">
              <input type="text" pInputText name="trxReferenceNo" 
               placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}" [(ngModel)]="queryReq.trxReferenceNo"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-container filter-action">
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Reset' | translate }}"
      class="btn-secondary"
      (click)="resetBtnClick()"
    ></button>
    <!-- <button pButton type="button" label="{{ 'Button.Label.Query' | translate }}"
                    (click)="searchBtnClick()" *ngIf="permissions.includes('view')"></button> -->
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Query' | translate }}"
      (click)="searchBtnClick()"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Download' | translate }}"
      (click)="downloadBtnClick()"
    ></button>
  </div>
</form>

<!--# TK-35854 -->
<ng-container *ngIf="displayResult">
  <p-table
    #lazyTable
    class="table-panel"
    [value]="data"
    [columns]="selectedCols"
    [scrollable]="false"
    scrollHeight="500px"
    [paginator]="true"
    paginatorPosition="bottom"
    [rowsPerPageOptions]="[10, 20]"
    [(selection)]="selectedData"
    dataKey="id"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    (onSort)="onSort($event)"
    (onPage)="onPage($event)"
    [totalRecords]="totalRecords"
    [resizableColumns]="true"
    [first]="tableStatusKeepService.keepInfo.pageEvent.first" 
    [rows]="tableStatusKeepService.keepInfo.pageEvent.rows"
  >
    <ng-template pTemplate="caption">
      <div class="table-action-block">
        <div class="table-search ui-inputgroup">
          <input
            type="text"
            pInputText
            size="30"
            placeholder="Search keyword"
            [(ngModel)]="globalFilter"
            (input)="filterLazy($event.target.value)"
          />
          <span class="ui-inputgroup-addon">
            <i class="pi pi-search"></i>
          </span>
        </div>

        <div class="btn-container">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            label="{{ 'Button.Label.Add' | translate }}"
            class="btn-teal"
            (click)="addDetail()"
            *ngIf="permissions.includes('add')"
          ></button>
        </div>

        <div class="btn-container right">
          <button
            pButton
            type="button"
            icon="pi pi-sliders-h"
            label="{{ 'Button.Label.Filter' | translate }}"
            class="btn-line"
            (click)="showFilter()"
          ></button>
        </div>
      </div>
      <!-- end: table-action-block -->
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="position: sticky; top: 0; z-index: 1">
        <ng-container *ngFor="let col of selectedCols">
          <th
            [ngClass]="col.css"
            *ngIf="
              col.field === 'edit' ||
              col.field === 'del' ||
              col.field === 'viewArea' ||
              col.field === 'viewHistory'
            "
            scope="col"
          >
            {{ col.header }}
          </th>
          <th
            [pSortableColumn]="col.field"
            [ngClass]="col.css"
            *ngIf="
              col.field !== 'edit' &&
              col.field !== 'del' &&
              col.field !== 'viewArea' &&
              col.field !== 'viewHistory'
            "
            scope="col"
          >
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td *ngFor="let col of selectedCols" [ngClass]="col.css">
          <span class="p-column-title">{{ col.header }}</span>
          <ng-container *ngIf="col.field === 'edit'">
            <div class="btn-container">
              <button
                pButton
                type="button"
                class="icon-btn btn-orange"
                (click)="editDetail(data)"
              >
                <img src="./assets/imgs/icon-btn/edit.svg" alt="Detail" />
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="col.field === 'del'">
            <div class="btn-container">
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="icon-btn btn-dark-red"
                (click)="showDelDialog(data['seq'])"
              ></button>
            </div>
          </ng-container>
          <ng-container *ngIf="col.field === 'viewArea'">
            <div class="btn-container">
              <button
                pButton
                type="button"
                class="icon-btn btn-teal"
                (click)="viewArea(data['productCode'])"
              >
                <img src="./assets/imgs/icon-btn/detail.svg" alt="Detail" />
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="col.field === 'viewHistory'">
            <div class="btn-container">
              <button
                pButton
                type="button"
                class="icon-btn btn-teal"
                (click)="viewHistory(data)"
              >
                <img src="./assets/imgs/icon-btn/detail.svg" alt="Detail" />
              </button>
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              col.field !== 'edit' &&
              col.field !== 'del' &&
              col.field !== 'viewArea' &&
              col.field !== 'viewHistory'
            "
          >
            <!-- <p>{{data[col.field]}}</p> -->
            <p>{{ processTableData(col.field, data) }}</p>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<p-dialog
  header="{{ 'Dialog.Header.FilterColumns' | translate }}"
  [(visible)]="displayFilter"
  [draggable]="false"
  [blockScroll]="true"
  [modal]="true"
>
  <form>
    <div class="form-row grid">
      <div class="form-col md:col-4 sm:col-12 col-12" *ngFor="let col of cols">
        <div class="form-checkbox">
          <p-checkbox
            name="checkboxGroup"
            [label]="col.header"
            [value]="col"
            [(ngModel)]="selectedCols"
            [disabled]="col?.isDisabled"
          ></p-checkbox>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button
        pButton
        type="button"
        label="{{ 'Button.Label.Reset' | translate }}"
        class="btn-gray btn-line"
        (click)="changeFilter()"
      ></button>
    </div>
  </form>
</p-dialog>

<!--# common v/c selector dialog-->
<app-common-selector-dialog
  [settingParams]="selectorDialogParams"
  (outputResult)="onSelectorDialogCallback($event)"
>
</app-common-selector-dialog>

<!-- display area popup -->
<app-view-area-popup
  [(visible)]="displayArea"
  [productCode]="viewAreaProductCode"
></app-view-area-popup>

<!-- display history popup -->
<app-view-history-popup
  [(visible)]="displayHistory"
  [queryParam]="queryHistoryParam"
>
</app-view-history-popup>

<app-euc-add-record-dialog
  [settingParams]="itemAddDialogParams"
  (onSubmit)="searchBtnClick(true)"
></app-euc-add-record-dialog>
<app-euc-modify-record-dialog
  [settingParams]="itemModifyDialogParams"
  (onSubmit)="searchBtnClick(true)"
></app-euc-modify-record-dialog>
