@import "src/styles/wpg-cus-components/cus_form";

@include FormBaseOverride;

.sub-title-container {
    &.item-section {
        @apply inline-flex justify-start items-center w-full;

        >div {
            &:not(:first-of-type) {
                @apply ml-8;
            }
        }

        .hint-highlight {
            @apply mt-2 font-semibold text-sm text-red-600;
        }

        .add-item {
            @apply bg-blue-50 bg-opacity-50 border border-blue-500 text-blue-500 min-w-fit;

            &:hover {
                @apply bg-blue-500 text-white border-blue-500;
            }

            &:disabled {
                &:hover {
                    @apply bg-white border-blue-500 text-blue-500;
                }
            }
        }
    }
}


.group-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25vw;

    label {
        flex: 0 0 24%;

        @media screen and (max-width: 767px) {
            flex: 0 0 70%;
        }
    }
}

.ou-label {
    background-color: #f1f6f9;
    text-align: center;
    padding: 3px;
    margin: 2px;
}