<app-common-selector-dialog
  [settingParams]="selectorDialogParams"
  (outputResult)="onSelectorDialogCallback($event)"
></app-common-selector-dialog>

<p-dialog
  [header]="dialogSetting.getValue().title"
  [(visible)]="dialogSetting.getValue().visiable"
  [modal]="dialogSetting.getValue().modal"
  [draggable]="dialogSetting.getValue().draggable"
  [resizable]="dialogSetting.getValue().resizeable"
  (onHide)="onDialogCloseEvent()"
>
  <form [formGroup]="formGroup" class="form-container form-table">
    <!--# oOU Group Selector -->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Orders OU</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.oouCode.errors &&
                  formGroup.controls.oouCode.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="oouCode"
                  readonly
                  placeholder="{{
                    'Input.PlaceHolder.PleaseSelect' | translate
                  }} Orders OU"
                  formControlName="oouName"
                  (click)="onOpenSelectorDialogEvent('alloou')"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.oouCode.errors &&
                    formGroup.controls.oouCode.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# OU Group Selector -->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Shipping OU</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.ouCode.errors &&
                  formGroup.controls.ouCode.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="ouCode"
                  readonly
                  placeholder="{{
                    'Input.PlaceHolder.PleaseSelect' | translate
                  }} Shipping OU"
                  formControlName="ouName"
                  (click)="onOpenSelectorDialogEvent('allou')"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.ouCode.errors &&
                    formGroup.controls.ouCode.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# VC Type-->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">VC Type</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-select">
                <p-dropdown
                  name="vcType"
                  [options]="userTypeOptions"
                  formControlName="vcType"
                  (onChange)="onVCTypChangeeHandler()"
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# VC Name-->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Vendor#/Customer#</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-input no-h-full">
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="vcName"
                  readonly
                  placeholder="{{
                    'Input.PlaceHolder.PleaseSelect' | translate
                  }} {{
                    formGroup.get('vcType').value === 'C'
                      ? 'Customer'
                      : 'Vendor'
                  }}"
                  formControlName="vcName"
                  [value]="formGroup.get('vcName').value"
                  (click)="onOpenSelectorDialogEvent('customer')"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.vcName.errors &&
                    formGroup.controls.vcName.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# Item Selector-->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Item</label>
            </div>
          </div>
          <div class="md:col col-12">
            <div class="form-col">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.productCode.errors &&
                  formGroup.controls.productCode.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="productCode"
                  formControlName="productCode"
                  readonly
                  placeholder="{{
                    'Input.PlaceHolder.PleaseSelect' | translate
                  }} Item"
                  (click)="onOpenSelectorDialogEvent('item')"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.productCode.errors &&
                    formGroup.controls.productCode.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# eccn / ccats-->
    <div class="form-row grid">
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label">
              <label class="txt">ECCN</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-label">
                <label class="txt">{{ formGroup.get("eccn").value }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label">
              <label class="txt">CCATs</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-label">
                <label class="txt">{{ formGroup.get("ccats").value }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# proviso / license-->
    <div class="form-row grid">
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label">
              <label class="txt">Proviso</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-label">
                <label class="txt">{{ formGroup.get("proviso").value }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">License#</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.licenseNo.errors &&
                  formGroup.controls.licenseNo.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="licenseNo"
                  placeholder="{{
                    'Input.PlaceHolder.PleaseKeyIn' | translate
                  }} License#"
                  formControlName="licenseNo"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.licenseNo.errors &&
                    formGroup.controls.licenseNo.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# price / Qty-->
    <div class="form-row grid">
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label">
              <label class="txt">Price</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-input no-h-full">
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="price"
                  placeholder="{{
                    'Input.PlaceHolder.PleaseKeyIn' | translate
                  }} Price"
                  formControlName="price"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.get('price').value &&
                    !posIntRegex.test(this.formGroup.get('price').value)
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.OnlyBigEqual0" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Apply Qty</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  ((formGroup.controls.quantity.errors &&
                    formGroup.controls.quantity.errors.required) ||
                    !posIntRegex.test(formGroup.get('quantity').value))
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="quantity"
                  placeholder="{{
                    'Input.PlaceHolder.PleaseKeyIn' | translate
                  }} Apply Qty"
                  formControlName="quantity"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    ((formGroup.controls.quantity.errors &&
                      formGroup.controls.quantity.errors.required) ||
                      !posIntRegex.test(formGroup.get('quantity').value))
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{
                    formGroup.controls.quantity.errors &&
                    formGroup.controls.quantity.errors.required
                      ? ("Span.Label.RequiredField" | translate)
                      : ("Span.Label.OnlyPosIntAndBig0" | translate)
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# Warehouse / Active Flag Selector -->
    <div class="form-row grid">
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">{{
                "LicenseMgmt.SC047.Label.Warehouse_Location" | translate
              }}</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-select">
                <p-dropdown
                  name="countryCode"
                  [options]="warehouseOptions"
                  formControlName="countryCode"
                  placeholder="{{
                    'DropDown.PlaceHolder.PleaseChoose' | translate
                  }}"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Flag</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-select no-h-full">
                <p-dropdown
                  formControlName="activeFlag"
                  [options]="editFlagOptions"
                  appendTo="body"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# Date Range Kit-->
    <div class="form-row grid">
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Start Date</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.startDate.errors &&
                  formGroup.controls.startDate.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <p-calendar [selectOtherMonths]="true" [showButtonBar]="true"
                  formControlName="startDate"
                  appendTo="body"
                  dateFormat="yy/mm/dd"
                  [showIcon]="true"
                  inputId="startDate"
                  placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
                  (onInput)="onDatePickerInput($event)"
                  (onSelect)="onDatePickerSelectAndBlur();onCheckDateHandler()"
                  (onBlur)="onDatePickerSelectAndBlur()"
                  (onClose)="onDatePickerClose('startDate');onCheckDateHandler()"
                ></p-calendar>
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.startDate.errors &&
                    formGroup.controls.startDate.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-col lg:col-6 col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">End Date</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.endDate.errors &&
                  formGroup.controls.endDate.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <p-calendar [selectOtherMonths]="true" [showButtonBar]="true"
                  formControlName="endDate"
                  appendTo="body"
                  dateFormat="yy/mm/dd"
                  [minDate]="formGroup.get('startDate').value"
                  [showIcon]="true"
                  inputId="endDate"
                  placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
                  (onInput)="onDatePickerInput($event)"
                  (onSelect)="onDatePickerSelectAndBlur();onCheckDateHandler()"
                  (onBlur)="onDatePickerSelectAndBlur()"
                  (onClose)="onDatePickerClose('endDate');onCheckDateHandler()"
                ></p-calendar>
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.endDate.errors &&
                    formGroup.controls.endDate.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# Ship To Address Input -->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">Ship To Address</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  formGroup.controls.shipToAddress.errors &&
                  formGroup.controls.shipToAddress.errors.required
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="shipToAddress"
                  placeholder="{{
                    'Input.PlaceHolder.PleaseKeyIn' | translate
                  }} Ship To Address"
                  formControlName="shipToAddress"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    formGroup.controls.shipToAddress.errors &&
                    formGroup.controls.shipToAddress.errors.required
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ "Span.Label.RequiredField" | translate }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# Deliver To Address Input -->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label">
              <label class="txt">Deliver To Address</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div class="form-input">
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="deliveryToAddress"
                  placeholder="{{
                    'Input.PlaceHolder.PleaseKeyIn' | translate
                  }} Deliver To Address"
                  formControlName="deliveryToAddress"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# End Use Input -->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="form-col col-fixed">
            <div class="form-label require">
              <label class="txt">End Use</label>
            </div>
          </div>
          <div class="grid md:col col-12">
            <div class="form-col col-12">
              <div
                class="form-input"
                [class]="
                  isFormSubmit &&
                  ((formGroup.controls.endUseRmk.errors &&
                    formGroup.controls.endUseRmk.errors.required) ||
                    CHRepgex.test(formGroup.get('endUseRmk').value) ||
                    CHSignRepgex.test(formGroup.get('endUseRmk').value))
                    ? 'no-h-full'
                    : ''
                "
              >
                <input
                  autocomplete="off"
                  type="text"
                  pInputText
                  name="endUseRmk"
                  placeholder="{{
                    'Input.PlaceHolder.PleaseKeyIn' | translate
                  }}{{
                    'LicenseMgmt.SC047.PlaceHolder.EndUseAllowNumAndEng'
                      | translate
                  }}"
                  formControlName="endUseRmk"
                />
                <p
                  class="error-active"
                  *ngIf="
                    isFormSubmit &&
                    ((formGroup.controls.endUseRmk.errors &&
                      formGroup.controls.endUseRmk.errors.required) ||
                      CHRepgex.test(formGroup.get('endUseRmk').value) ||
                      CHSignRepgex.test(formGroup.get('endUseRmk').value))
                  "
                >
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{
                    formGroup.controls.endUseRmk.errors &&
                    formGroup.controls.endUseRmk.errors.required
                      ? ("Span.Label.RequiredField" | translate)
                      : (
                          "LicenseMgmt.SC047.PlaceHolder.EndUseAllowNumAndEng"
                          | translate
                        ).substring(1)
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# remark -->
    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">Remark</label>
        </div>
      </div>

      <div class="form-col col">
        <div class="form-textarea">
          <textarea
            pInputTextarea
            name="remark"
            formControlName="remark"
            placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button
        pButton
        type="button"
        label="{{ 'Button.Label.Cancel' | translate }}"
        class="btn-gray"
        (click)="onDialogCloseEvent()"
      ></button>
      <button
        pButton
        type="button"
        class="submit"
        label="{{ 'Button.Label.Submit' | translate }}"
        (click)="onFormSubmit()"
      ></button>
    </div>
  </form>
</p-dialog>
