<!--# common notice-check dialog-->
<app-common-notice-check-dialog [settingParams]="noticeCheckDialogParams" [contentList]="noticeContentList">
</app-common-notice-check-dialog>

<ng-container *ngIf="isDialogMode">

  <p-dialog [header]="dialogTitle" [modal]="true" [draggable]="false" [resizable]="false"
  [(visible)]="dialogOpen" (onHide)="close()" styleClass="approve-dialog">
  <form [formGroup]="formGroup" class="form-table">
    <!-- 審核動作 -->
    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">{{ "LicenseMgmt.Common.Label.Action" | translate }}</label>
        </div>
      </div>
      <div class="form-col col">
        <!-- 一般(核准、駁回、退回、加簽至下一關、加簽後傳回) -->
        <div class="form-radio" *ngIf="!approveDialogService.getIsAssigneeTask && !approveDialogService.getIsNewForm">
          <ng-container *ngFor="let actionRadio of actionRadioKit"> 
            <ng-container *ngIf="actionRadio.value !== 'reject' || ((actionRadio.value === 'reject') && !hideRejectRadioButton)">
              <p-radioButton formControlName="action" name="action" [label]="actionRadio.label | translate"
                [value]="actionRadio.value" [inputId]="actionRadio.value" (click)="radioOnClick()">
              </p-radioButton>
            </ng-container> 
          </ng-container>
        </div>

        <!-- 被加簽只會有核準 -->
        <div class="form-radio" *ngIf="approveDialogService.getIsAssigneeTask">
          <ng-container *ngFor="let actionRadio of actionRadioKit; let first = first; let last = last">
            <p-radioButton *ngIf="first || last" formControlName="action" name="action" [label]="actionRadio.label | translate"
              [value]="actionRadio.value" [inputId]="actionRadio.value">
            </p-radioButton>
          </ng-container>
        </div>
        
        <!-- 新單只會有加簽傳回 -->
        <div class="form-radio" *ngIf="approveDialogService.getIsNewForm">
          <ng-container *ngFor="let actionRadio of actionRadioKit; let last = last">
            <p-radioButton *ngIf="last" formControlName="action" name="action" [label]="actionRadio.label | translate"
              [value]="actionRadio.value" [inputId]="actionRadio.value">
            </p-radioButton>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Radio選了 '退回' -->
    <ng-container
      *ngIf="formGroup.get('action').value == 'rollback' &&  approveDialogService.getRollBackStepOptions.length > 0">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{ "LicenseMgmt.Common.Label.FlowReturnTo" | translate }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-select">
            <p-dropdown name="rollbackStep" formControlName="rollbackStep" [filter]="true"
              [options]="approveDialogService.getRollBackStepOptions"
              placeholder="{{ 'DropDown.PlaceHolder.PleaseChoose' | translate }}">
            </p-dropdown>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Radio選了 '加簽至下一關' 或 '加簽後傳回' -->
    <ng-container
      *ngIf=" formGroup.get('action').value == 'addCosigner' ||  formGroup.get('action').value == 'addAssignee' ">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{ "LicenseMgmt.Common.Label.Endorsement" | translate }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-input">
            <!-- 加簽至下一關 -->
            <ng-container *ngIf="formGroup.get('action').value == 'addCosigner'">
              <p-autoComplete name="cosigners" formControlName="cosigners"
                (completeMethod)="approveDialogService.onCosignersFilterHandler($event)"
                [suggestions]="approveDialogService.fuzzyEmpInfosOptions.getValue()" [virtualScroll]="true"
                [itemSize]="30" [minLength]="1" [multiple]="false" [style]="{ width: '100%' }" field="label"
                appendTo="body" dataKey="value" (keydown)="onFieldKeyDownHandler($event, 'cosigners')"
                (onSelect)="onFieldSelectAlready()">
              </p-autoComplete>
            </ng-container>

            <!-- 加簽後傳回 -->
            <ng-container *ngIf="formGroup.get('action').value == 'addAssignee'">
              <p-autoComplete name="cosigners" formControlName="cosigners"
                (completeMethod)="approveDialogService.onCosignersFilterHandler($event)"
                [suggestions]="approveDialogService.fuzzyEmpInfosOptions.getValue()" [virtualScroll]="true"
                [itemSize]="30" [minLength]="1" [multiple]="true" [style]="{ width: '100%' }" field="label"
                appendTo="body" dataKey="value"
                (onSelect)="addAssigneeOnSelect()" (keydown)="onAssigneeFieldKeyDown($event, 'cosigners')"
                (onUnselect)="addAssigneeOnSelect()">
              </p-autoComplete>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- 意見 -->
    <div class="form-row grid" *ngIf="!approveDialogService.getIsNewForm">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">{{"LicenseMgmt.Common.Label.Opinion" | translate }}</label>
        </div>
      </div>

      <div class="form-col col">
        <div class="form-textarea">
          <textarea pInputTextarea name="comment" formControlName="comment"
            placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"></textarea>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let agentInfo of agentInfoArr">
      <app-agent-info-table [userCode]="agentInfo"></app-agent-info-table>
     </ng-container>

    <!-- 按鈕區域 -->
    <div class="btn-container">
      <button pButton type="button" label="{{ 'Button.Label.Cancel' | translate }}" class="btn-gray"
        (click)="onDialogClosed()"></button>
      <button pButton type="button" label="{{ 'Button.Label.Submit' | translate }}" (click)="onFormSubmit()"></button>
    </div>
  </form>
</p-dialog>

</ng-container>

<ng-container *ngIf="!isDialogMode">
  <form [formGroup]="formGroup" class="form-table">
    <!-- 審核動作 -->
    <div class="form-row grid">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">{{ "LicenseMgmt.Common.Label.Action" | translate }}</label>
        </div>
      </div>
      <div class="form-col col">
        <!-- 一般(核准、駁回、退回、加簽至下一關、加簽後傳回) -->
        <div class="form-radio" *ngIf="!approveDialogService.getIsAssigneeTask && !approveDialogService.getIsNewForm">
          <ng-container *ngFor="let actionRadio of actionRadioKit"> 
            <ng-container *ngIf="actionRadio.value !== 'reject' || ((actionRadio.value === 'reject') && !hideRejectRadioButton)">
              <p-radioButton formControlName="action" name="action" [label]="actionRadio.label | translate"
                [value]="actionRadio.value" [inputId]="actionRadio.value" (click)="radioOnClick()">
              </p-radioButton>
            </ng-container> 
          </ng-container>
        </div>

        <!-- 被加簽只會有核準 -->
        <div class="form-radio" *ngIf="approveDialogService.getIsAssigneeTask">
          <ng-container *ngFor="let actionRadio of actionRadioKit; let first = first; let last = last">
            <p-radioButton *ngIf="first || last" formControlName="action" name="action" [label]="actionRadio.label | translate"
              [value]="actionRadio.value" [inputId]="actionRadio.value">
            </p-radioButton>
          </ng-container>
        </div>
        
        <!-- 新單只會有加簽傳回 -->
        <div class="form-radio" *ngIf="approveDialogService.getIsNewForm">
          <ng-container *ngFor="let actionRadio of actionRadioKit; let last = last">
            <p-radioButton *ngIf="last" formControlName="action" name="action" [label]="actionRadio.label | translate"
              [value]="actionRadio.value" [inputId]="actionRadio.value">
            </p-radioButton>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Radio選了 '退回' -->
    <ng-container
      *ngIf="formGroup.get('action').value == 'rollback' &&  approveDialogService.getRollBackStepOptions.length > 0">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{ "LicenseMgmt.Common.Label.FlowReturnTo" | translate }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-select">
            <p-dropdown name="rollbackStep" formControlName="rollbackStep" [filter]="true"
              [options]="approveDialogService.getRollBackStepOptions"
              placeholder="{{ 'DropDown.PlaceHolder.PleaseChoose' | translate }}">
            </p-dropdown>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Radio選了 '加簽至下一關' 或 '加簽後傳回' -->
    <ng-container
      *ngIf=" formGroup.get('action').value == 'addCosigner' ||  formGroup.get('action').value == 'addAssignee' ">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{ "LicenseMgmt.Common.Label.Endorsement" | translate }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-input">
            <!-- 加簽至下一關 -->
            <ng-container *ngIf="formGroup.get('action').value == 'addCosigner'">
              <p-autoComplete name="cosigners" formControlName="cosigners"
                (completeMethod)="approveDialogService.onCosignersFilterHandler($event)"
                [suggestions]="approveDialogService.fuzzyEmpInfosOptions.getValue()" [virtualScroll]="true"
                [itemSize]="30" [minLength]="1" [multiple]="false" [style]="{ width: '100%' }" field="label"
                appendTo="body" dataKey="value" (keydown)="onFieldKeyDownHandler($event, 'cosigners')"
                (onSelect)="onFieldSelectAlready()">
              </p-autoComplete>
            </ng-container>

            <!-- 加簽後傳回 -->
            <ng-container *ngIf="formGroup.get('action').value == 'addAssignee'">
              <p-autoComplete name="cosigners" formControlName="cosigners"
                (completeMethod)="approveDialogService.onCosignersFilterHandler($event)"
                [suggestions]="approveDialogService.fuzzyEmpInfosOptions.getValue()" [virtualScroll]="true"
                [itemSize]="30" [minLength]="1" [multiple]="true" [style]="{ width: '100%' }" field="label"
                appendTo="body" dataKey="value"
                (onSelect)="addAssigneeOnSelect()" (keydown)="onAssigneeFieldKeyDown($event, 'cosigners')"
                (onUnselect)="addAssigneeOnSelect()">
              </p-autoComplete>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- 意見 -->
    <div class="form-row grid" *ngIf="!approveDialogService.getIsNewForm">
      <div class="form-col col-fixed">
        <div class="form-label">
          <label class="txt">{{"LicenseMgmt.Common.Label.Opinion" | translate }}</label>
        </div>
      </div>

      <div class="form-col col">
        <div class="form-textarea">
          <textarea pInputTextarea name="comment" formControlName="comment"
            placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"></textarea>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let agentInfo of agentInfoArr">
      <app-agent-info-table [userCode]="agentInfo"></app-agent-info-table>
     </ng-container>
     
    <!-- 按鈕區域 -->
    <div class="btn-container"> 
      <button pButton type="button" label="{{ 'Button.Label.Submit' | translate }}" (click)="onFormSubmit()"></button>
    </div>
  </form> 

</ng-container> 


<p-confirmDialog [baseZIndex]="10000" key="agentCheckConfirmDialog"  [style]="{ width: '40%' }"></p-confirmDialog>