<p-confirmDialog
  [baseZIndex]="10000"
  key="approveAddAttachedDialog"
></p-confirmDialog>

<app-common-notice-check-dialog
  [settingParams]="noticeCheckDialogParams"
  [contentList]="noticeContentList"
  (closeNotice)="onNoticeDialogCloseHandler()"
></app-common-notice-check-dialog>

<p-dialog
  [header]="dialogSetting.getValue().title"
  [(visible)]="dialogSetting.getValue().visiable"
  [modal]="dialogSetting.getValue().modal"
  [draggable]="dialogSetting.getValue().draggable"
  [resizable]="dialogSetting.getValue().resizeable"
  (onHide)="onDialogHided()"
>
  <form [formGroup]="formGroup" class="form-container form-table">
    <div class="form-row grid">
      <div class="form-row grid col-12">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "LicenseMgmt.Common.Label.FileUpload" | translate
            }}</label>
          </div>
        </div>

        <div class="form-col col">
          <div class="form-item grid">
            <div class="form-file-upload-container">
              <p class="error-active">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ 'DPL_Hold.Label.MaxFileSize' | translate }}</span>
              </p>
              <p-fileUpload
                #fileUploader
                class="form-file-upload"
                name="fileUpload[]"
                [multiple]="fileUploaderSettings.multiple"
                [maxFileSize]="fileUploaderSettings.maxFileSize"
                [auto]="fileUploaderSettings.auto"
                [chooseIcon]="fileUploaderSettings.chooseIcon"
                [chooseLabel]="fileUploaderSettings.chooseLabel"
                [showCancelButton]="fileUploaderSettings.showCancelButton"
                [showUploadButton]="fileUploaderSettings.showUploadButton"
                [uploadIcon]="fileUploaderSettings.uploadIcon"
                [previewWidth]="fileUploaderSettings.previewWidth"
                [customUpload]="fileUploaderSettings.customUpload"
                (onSelect)="onFileUploaderSelectHandler($event, fileUploader)"
                (uploadHandler)="onSaveAttachedFileEvent($event, fileUploader)"
                [files]="selectedFileList.getValue()"
                dndUploadHandler
                (fileDropped)="onDropHandler($event)"
                (onFileDroppedError)="onDropErrorHandler($event)"
                [acceptDropFileType]="fileUploaderSettings.accept"
                allowMulitUpload="true"
              >
                <ng-template pTemplate="content">
                  <div
                    class="form-insert-input-list inside-uploader"
                    *ngIf="selectedFileList.getValue().length > 0"
                  >
                    <div
                      class="form-label link-list-item"
                      *ngFor="
                        let file of selectedFileList.getValue();
                        let i = index
                      "
                    >
                      <ng-container [ngSwitch]="file.size">
                        <ng-container *ngSwitchCase="file.size < 1024">
                          <label class="txt"
                            >{{ i + 1 }}.&nbsp;{{ file.name }} -
                            {{ file.size }} Bytes</label
                          >
                        </ng-container>
                        <ng-container *ngSwitchCase="file.size > 1024 * 1024">
                          <label class="txt"
                            >{{ i + 1 }}.&nbsp;{{ file.name }} -
                            {{ (file.size / 1024 / 1024).toFixed(2) }}
                            MBs</label
                          >
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <label class="txt"
                            >{{ i + 1 }}.&nbsp;{{ file.name }} -
                            {{ (file.size / 1024).toFixed(2) }} KBs</label
                          >
                        </ng-container>
                      </ng-container>
                      <button
                        type="button"
                        pButton
                        icon="pi pi-times"
                        class="btn-gray"
                        (click)="onTempFileDeleteHandler(file, fileUploader)"
                      ></button>
                    </div>
                  </div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row grid col-12">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{
              "LicenseMgmt.Common.Label.AttachedLink" | translate
            }}</label>
          </div>
        </div>
        <div class="form-col col">
          <div class="form-item grid">
            <div class="form-input p-inputgroup no-h-full">
              <input
                type="text"
                pInputText
                placeholder="{{
                  'Input.PlaceHolder.PleaseEnter' | translate
                }} URL"
                name="link"
                formControlName="url"
              />
              <p class="error-active" *ngIf="formGroup.get('url').value && !isValidURL(formGroup.get('url').value)">
                  <i class="pi pi-exclamation-circle"></i>
                  <span>{{ 'Span.Label.InvalidURL' | translate }}</span>
              </p>
              <ng-container *ngIf="formGroup.get('url').value">
                <button
                  type="button"
                  pButton
                  icon="pi pi-times"
                  (click)="formGroup.reset()"
                  class="btn-dark-red"
                ></button>
              </ng-container>
              <button
                type="submit"
                pButton
                icon="pi pi-plus"
                [disabled]="formGroup.get('url').value && !isValidURL(formGroup.get('url').value)"
                (click)="onSaveAttachedURLLogEvent()"
              ></button>
            </div>

            <!-- <ng-container
              *ngIf="
                formGroup.get('url')?.hasError('pattern') &&
                (formGroup.get('url')?.dirty || formGroup.get('url')?.touched)
              "
            >
              <div class="form-hint warring">
                <span>{{
                  "LicenseMgmt.Common.Hint.AttachedURLFormatError" | translate
                }}</span>
              </div>
            </ng-container> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
