<div class="main-title-container">
  <p>{{ 'Role.Label.RoleMgmt' | translate }}</p>
</div>
<!-- end: main-title-container -->

<form class="form-table form-search">

  <div class="form-row grid">
    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label require">
            <label class="txt">{{ 'Role.Label.Tenant' | translate }}</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-select">
            <!-- add class `error-active` in `form-select` when input error  -->
            <p-dropdown name="tenant" [(ngModel)]="selectedTenants" [options]="tenantOptions"></p-dropdown>
            <p class="error-msg">
              <em class="pi pi-exclamation-circle"></em>
              <span>錯誤訊息</span>
            </p>
          </div>
          <!-- end: form-select -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->

    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label">
            <label class="txt">{{ 'Role.Label.RoleName' | translate }}</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-input require">
            <!-- add class `error-active` in `form-input` when input error  -->
            <input type="text" name="roleName" [(ngModel)]="roleName" pInputText value="" placeholder="{{ 'Input.PlaceHolder.PleaseEnter' | translate }}"/>
            <p class="error-msg">
              <em class="pi pi-exclamation-circle"></em>
              <span>錯誤訊息</span>
            </p>
          </div>
          <!-- end: form-input -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->

    <div class="form-col md:col-4 sm:col-12 col-12">
      <div class="form-row grid">
        <div class="form-col col-fixed">
          <div class="form-label require">
            <label class="txt">{{ 'Role.Label.RoleType' | translate }}</label>
          </div>
          <!-- end: form-label -->
        </div>
        <!-- end: form-col -->

        <div class="form-col col">
          <div class="form-select">
            <!-- add class `error-active` in `form-select` when input error  -->
            <p-dropdown name="roleType" [(ngModel)]="selectedRoleTypes" [options]="roleTypeOptions"></p-dropdown>
            <p class="error-msg">
              <em class="pi pi-exclamation-circle"></em>
              <span>錯誤訊息</span>
            </p>
          </div>
          <!-- end: form-select -->
        </div>
        <!-- end: form-col -->
      </div>
      <!-- end: form-row -->
    </div>
    <!-- end: form-col -->
  </div>
  <!-- end: form-row -->

  <div class="btn-container">
    <button pButton type="button" label="{{ 'Button.Label.Reset' | translate }}" class="btn-secondary" (click)="resetCondition();"></button>
    <button pButton type="button" label="{{ 'Button.Label.Query' | translate }}" (click)="initData();" *ngIf="permissions.includes('view')"></button>
  </div>
</form>

<!--# TK-35854 -->
<p-table #dt class="table-panel" [value]="data" [columns]="selectedCols"
  [scrollable]="true" scrollHeight="500px"
  [paginator]="true" [rows]="10"
  paginatorPosition="bottom" [rowsPerPageOptions]="[10,20]"
  dataKey="id"
  [globalFilterFields]="['roleName', 'roleDesc', 'roleType']"
  >
  <ng-template pTemplate="caption">
    <div class="table-action-block">
      <div class="table-search ui-inputgroup">
        <input type="text" pInputText size="30" placeholder="{{'Input.PlaceHolder.SearchTableByKeyword' | translate}}" [(ngModel)]="searchRole" (input)="dt.filterGlobal($event.target.value, 'contains')" />
        <span class="ui-inputgroup-addon">
          <em class="pi pi-search"></em>
        </span>
      </div>

      <div class="btn-container">
        <button pButton type="button" icon="pi pi-plus" label="{{ 'Button.Label.Add' | translate }}" class="btn-teal" (click)="clickAddRole()" *ngIf="permissions.includes('add')"></button>
      </div>

      <div class="btn-container right">
        <button pButton type="button" icon="pi pi-sliders-h" label="{{ 'Button.Label.Filter' | translate }}" class="btn-line" (click)="showFilter()"></button>
      </div>
    </div>
    <!-- end: table-action-block -->
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of selectedCols" [pSortableColumn]="col.field"
        [ngClass]="{
          'icon-col': (col.field === 'checkbox' || col.field === 'edit' || col.field === 'del' || col.field === 'view')
        }"
        scope="col"
      >
        <ng-container *ngIf="col.field === 'checkbox'">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </ng-container>
        <ng-container  *ngIf="col.field === 'edit' || col.field === 'del' || col.field === 'view'">
          {{col.header}}
        </ng-container>
        <ng-container  *ngIf="col.field !== 'checkbox' && col.field !== 'edit' && col.field !== 'del' && col.field !== 'view'">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td *ngFor="let col of selectedCols"
        [ngClass]="{
          'icon-col': (col.field == 'checkbox' || col.field === 'edit' || col.field === 'del' || col.field === 'view')
        }"
      >
        <ng-container *ngIf="col.field === 'checkbox'">
          <p-tableCheckbox [value]="data"></p-tableCheckbox>
        </ng-container>
        <ng-container *ngIf="col.field === 'edit'">
          <div class="btn-container">
            <button pButton type="button" class="icon-btn btn-orange" (click)="clickEditRole(data);">
              <img src="./assets/imgs/icon-btn/edit.svg" alt="Edit">
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="col.field === 'del'">
          <div class="btn-container">
            <button pButton type="button" icon="pi pi-trash" class="icon-btn btn-dark-red" (click)="clickDeleteRole(data);"></button>
          </div>
        </ng-container>
        <ng-container *ngIf="col.field === 'view'">
          <div class="btn-container">
            <button pButton type="button" class="icon-btn btn-teal" (click)="clickViewRole(data);">
              <img src="./assets/imgs/icon-btn/detail.svg" alt="Detail">
            </button>
          </div>
        </ng-container>
        <ng-container  *ngIf="col.field === 'group'">
          <p-chip *ngFor="let item of data[col.field]" [label]="item"></p-chip>
        </ng-container>
        <ng-container  *ngIf="col.field !== 'checkbox' && col.field !== 'group'
          && col.field !== 'roleType' && col.field !== 'status' && col.field !== 'lastUpdatedDate'
          && col.field !== 'edit' && col.field !== 'del' && col.field !== 'view'">
          <p>{{data[col.field]}}</p>
        </ng-container>
        <ng-container  *ngIf="col.field === 'roleType'">
          <p>{{ getRoleTypeDesc(data[col.field]) }}</p>
        </ng-container>
        <ng-container  *ngIf="col.field === 'status'">
          <p>{{ getRoleStatusDesc(data[col.field]) }}</p>
        </ng-container>
        <ng-container  *ngIf="col.field === 'lastUpdatedDate'">
          <p>{{data[col.field] | date:'yyyy/MM/dd HH:mm:ss'}}</p>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="{{ 'Dialog.Header.FilterColumns' | translate }}" [(visible)]="displayFilterDetail"
  [draggable]="false" [blockScroll]="true"  [modal]="true">
  <form>
    <div class="form-row grid">
      <div class="form-col md:col-4 sm:col-12 col-12" *ngFor="let col of cols">
        <div class="form-checkbox">
          <p-checkbox name="checkboxGroup" [label]="col.header" [value]="col"
            [(ngModel)]="selectedCols" [disabled]="col?.isDisabled"></p-checkbox>
        </div>
      </div>
      <!-- end: form-col -->
    </div>
    <!-- end: form-row -->

    <div class="btn-container">
      <button pButton type="button" label="{{ 'Button.Label.Reset' | translate }}" class="btn-gray btn-line" (click)="changeFilterDetail()"></button>
    </div>
  </form>
</p-dialog>

<p-dialog class="width-sm" [(visible)]="displayDelDialog"
  [draggable]="false" [blockScroll]="true"  [modal]="true">
  <div class="popup-content center">
    <h2>{{ 'Role.Label.ConfirmDelete' | translate }}</h2>
  </div>

  <div class="btn-container">
    <button pButton type="button" label="{{ 'Button.Label.Cancel' | translate }}" class="btn-gray btn-line" (click)="displayDelDialog = false;"></button>
    <button pButton type="button" label="{{ 'Button.Label.Delete' | translate }}" class="btn-dark-red" (click)="deleteRole()"></button>
  </div>
</p-dialog>
