<p-dialog
  header=""
  [(visible)]="showDialog"
  [draggable]="false"
  [closeOnEscape]="true"
  [blockScroll]="true"
  [modal]="true"
  (onHide)="onHideDetailDialog($event)"
  *ngIf="!showLoader"
>
  <ng-container>
    <div class="form-table" *ngIf="formValue">
      <!-- Level1 -->
      <div class="form-row grid">
        <!-- Group -->
        <div class="form-col lg:col-6 md:col-6 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label require">
                <label class="txt">Group</label>
              </div>
            </div>

            <div class="form-col col">
              <div
                class="form-select"
                [ngClass]="{ 'dpd-red-border': !formValue.group }"
              >
                <p-dropdown
                  appendTo="body"
                  [options]="SoaControlSetupByUserService.groupOptions"
                  placeholder="{{
                    'DropDown.PlaceHolder.PleaseChoose' | translate
                  }}"
                  [(ngModel)]="formValue.group"
                  name="corpGroup"
                  [disabled]="editDisabled"
                  (ngModelChange)="groupChange()"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <!-- 有效/無效 -->
        <div class="form-col lg:col-6 md:col-6 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label require">
                <label class="txt">{{
                  "SoaControlSetup.Label.Flag" | translate
                }}</label>
              </div>
            </div>

            <div class="form-col col">
              <div class="form-select">
                <p-dropdown
                  appendTo="body"
                  [options]="SoaControlSetupByUserService.flagOptions"
                  placeholder="{{
                    'DropDown.PlaceHolder.PleaseChoose' | translate
                  }}"
                  [(ngModel)]="formValue.flag"
                  name="flag"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Level2 -->
      <div class="form-row grid">
        <!-- OU Code -->
        <div class="form-col lg:col-6 md:col-6 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label require">
                <label class="txt">OU Code</label>
              </div>
            </div>

            <div class="form-col col">
              <div class="form-input">
                <p-autoComplete
                  [(ngModel)]="formValue.ouCode"
                  name="ouCode"
                  [suggestions]="SoaControlSetupByUserService.filteredOus"
                  (completeMethod)="
                    SoaControlSetupByUserService.filterOuByGroup(
                      $event,
                      formValue.group
                    )
                  "
                  [minLength]="1"
                  field="displayOu"
                  [style]="{ width: '100%' }"
                  (onBlur)="onBlurOu($event)"
                  (onSelect)="ouOnSelect()"
                  [disabled]="editDisabled"
                >
                </p-autoComplete>
              </div>
            </div>
          </div>
        </div>

        <!-- OU Name -->
        <div class="form-col lg:col-6 md:col-6 col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">OU Name</label>
              </div>
            </div>

            <div class="form-col col lg:col-6 md:col-6 col-12">
              <label class="txt" class="ou-name">{{ formValue.ouName }}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Level3 -->
      <div class="form-row grid">
        <!-- 客戶 / 廠商 -->
        <div class="form-col col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label require">
                <label class="txt"
                  >{{ "SoaControlSetup.Label.CustomerVendorType" | translate }}
                </label>
              </div>
            </div>

            <div class="form-col col">
              <div class="form-col col-12" style="display: flex">
                <div
                  class="form-select form-col col-4"
                  style="padding: 0 0.5rem 0 0"
                >
                  <p-dropdown
                    placeholder="{{
                      'DropDown.PlaceHolder.PleaseChoose' | translate
                    }}"
                    [(ngModel)]="formValue.vcType"
                    [options]="SoaControlSetupByUserService.cvOptions"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="vcTypeChange()"
                    [disabled]="editDisabled"
                  >
                  </p-dropdown>
                </div>

                <div
                  class="form-input form-col col-8"
                  style="padding: 0 0 0 0.7rem"
                >
                  <input
                    type="text"
                    pInputText
                    readonly
                    placeholder="{{
                      'Input.PlaceHolder.PleaseSelect' | translate
                    }}"
                    (click)="cvSelectDialogOnOpen()"
                    [value]="formValue.vcCode?.label || formValue.vcLabel || ''"
                    [disabled]="editDisabled"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Level4 -->
      <div class="form-row grid">
        <!-- Publish Date -->
        <div class="form-col col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label require">
                <label class="txt">{{
                  "SoaControlSetup.Label.ValidFrom" | translate
                }}</label>
              </div>
            </div>

            <div class="form-col col">
              <div class="form-date">
                <p-calendar [selectOtherMonths]="true"
                  [showButtonBar]="true"
                  [showIcon]="true"
                  dateFormat="yy/mm/dd"
                  dataType="string"
                  appendTo="body"
                  [(ngModel)]="formValue.validFrom"
                  name="validFromDate"
                  (onInput)="onDatePickerInput($event)"
                  (onSelect)="onDatePickerSelectAndBlur()"
                  (onBlur)="onDatePickerSelectAndBlur()"
                  (onClose)="onDatePickerClose('validFrom')"
                  placeholder="{{ 'Input.PlaceHolder.PleaseSelectOrKeyIn' | translate }} e.g. 20200101"
                >
                </p-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Level5 -->
      <div class="form-row grid">
        <div class="form-col col-12">
          <div class="form-row grid">
            <div class="form-col col-fixed">
              <div class="form-label">
                <label class="txt">Remark</label>
              </div>
            </div>

            <div class="form-col col">
              <div class="form-textarea">
                <textarea
                  pInputTextarea
                  [(ngModel)]="formValue.remark"
                  name="remark"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="btn-container">
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Cancel' | translate }}"
      class="btn-gray"
      (click)="showDialog = false"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'Button.Label.Save' | translate }}"
      (click)="saveOnClick()"
    ></button>
  </div>
</p-dialog>

<!-- 客戶/廠商 詳細選擇框 -->
<app-common-selector-dialog
  [settingParams]="selectorDialogParams"
  (outputResult)="onSelectorDialogCallback($event)"
>
</app-common-selector-dialog>

<!-- 訊息dialog -->
<app-common-notice-check-dialog
  [settingParams]="noticeCheckDialogParams"
  [contentList]="noticeContentList"
>
</app-common-notice-check-dialog>

<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>
