<p-dialog
  [header]="dialogSetting.getValue().title"
  [(visible)]="dialogSetting.getValue().visiable"
  [modal]="dialogSetting.getValue().modal"
  [draggable]="dialogSetting.getValue().draggable"
  [resizable]="dialogSetting.getValue().resizeable"
  styleClass="add-sc047-v2-item-by-ref-dialog"
  (onHide)="onCloseDialogHandler()"
>
  <form [formGroup]="formGroup" class="form-container form-table">
    <!--# Keyword-->
    <div class="form-row grid">
      <div class="form-col col-12">
        <div class="form-row grid">
          <div class="grid md:col col-12">
            <div
              class="form-col form-input no-h-full flex-grow-1 flex-shrink-1"
            >
              <div class="form-input">
                <span class="p-input-icon-right">
                  <ng-container *ngIf="formGroup.get('keyword').value">
                    <i
                      class="pi pi-times input-icon"
                      (click)="onSearchKeywordCleanEvent()"
                    ></i>
                  </ng-container>
                  <input
                    type="text"
                    pInputText
                    name="keyword"
                    placeholder="{{
                      'Input.PlaceHolder.PleaseEnterRefShipment' | translate
                    }}"
                    formControlName="keyword"
                    autocomplete="off"
                    autofocus
                    (keydown)="onSearchKeyDownHandler($event)"
                  />
                </span>
              </div>
            </div>
            <div class="form-col flex-shrink-0">
              <ng-container
                *ngIf="isLoading; then loadingTemplate; else notloadingTemplate"
              ></ng-container>
              <ng-template #loadingTemplate>
                <div class="form-action">
                  <button
                    pButton
                    type="submit"
                    label="{{ 'Button.Label.Quering' | translate }}"
                    class="submit"
                    disabled
                    icon="pi pi-spin pi-spinner"
                    iconPos="right"
                  ></button>
                </div>
              </ng-template>
              <ng-template #notloadingTemplate>
                <div class="form-action">
                  <button
                    pButton
                    type="button"
                    label="{{ 'Button.Label.Query' | translate }}"
                    class="submit"
                    [disabled]="!formGroup.valid"
                    (click)="onSearchRefSubmit()"
                  ></button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="loading-container" *ngIf="isLoading">
      <span>Loading...</span>
    </div>

    <div class="loading-container" *ngIf="isEmpty">
      <span>No Result</span>
    </div>

    <app-common-data-table-viewer
      [data]="refDataFromERP"
      [tableCols]="itemCols"
      [tableSettings]="dataTableSettings"
      (outputSelectedData)="onAddItemByRefDialogCallback($event)"
      [cleanSelected]="isCleanSelected"
    ></app-common-data-table-viewer>

    <div class="error-section" *ngIf="selectedRefDataErrorMsg.length > 0">
      <ul>
        <li *ngFor="let msg of selectedRefDataErrorMsg">{{ msg }}，{{
          "LicenseMgmt.SC047.Hint.ApplyNumOverControlNum" | translate
        }}</li>
      </ul>
    </div>

    <div class="btn-container">
      <button
        pButton
        type="button"
        label="{{ 'Button.Label.Cancel' | translate }}"
        class="btn-gray"
        (click)="onCloseDialogHandler()"
      ></button>

      <button
        pButton
        type="button"
        label="{{ 'Button.Label.Confirm' | translate }}"
        [disabled]="
          !(selectedRefData && selectedRefData.length > 0) || !isSelectedPass
        "
        (click)="onSelectedRefSubmit()"
      ></button>
    </div>
  </form>
</p-dialog>
